.dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  background: #0c7c73ff;
  color: white;
  padding: 20px;
  transition: width 0.3s;
}

.sidebar.open {
  width: 250px;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar .menu-btn {
  background: none;
  border: none;
  color: rgb(236, 230, 230);
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sidebar .icon {
  font-size: 20px;
}

.sidebar .label {
  margin-left: 15px;
}

.sidebar .tooltip {
  position: absolute;
  left: 80px;
  background: rgb(250, 247, 247);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  z-index: 100;
}

.sidebar li:hover .tooltip {
  opacity: 1;
}

.main-content {
  flex: 1;
  padding: 30px;
  background: #f5f7fa;
  overflow-y: auto;
}
