body {
  margin: 0;
  background: #e7efea;
  font-family: "Segoe UI", sans-serif;
}

/* WRAPPER */
.login-wrapper {
  display: flex;
  height: 100vh;
}

/* LEFT LOGIN BOX */
.login-box {
  width: 40%;
  background: #ffffff;
  padding: 40px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #003b2a;
}

.login-box input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  font-size: 15px;
}

.login-btn {
  width: 90%;
  padding: 12px;
  margin-top: 10px;
  background: #0a6b41;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.login-btn:hover {
  background: #0d7f4f;
}

/* ERROR */
.error {
  color: red;
  margin-top: 5px;
}

/* REGISTER LINK */
.register-link {
  margin-top: 15px;
}

.register-link a {
  color: #0b6aa1;
  text-decoration: none;
  font-weight: bold;
}

/* RIGHT PANNEL */
.right-panel {
  width: 60%;
  background: #0e6c41;
  color: white;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px 0 0 50px;
}

.right-panel h1 {
  font-size: 40px;
  font-weight: 300;
}

.right-panel h2 {
  font-size: 32px;
  margin-top: -10px;
}

.right-panel p {
  width: 70%;
  margin-top: 20px;
  line-height: 1.4;
}
